@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f25c05;
  --secondary-color: #f2d3a2;
  --third-color: #f20505;
  --white-color: #fff;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

<!-- Navbar .navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

#NavBar {
  background: rgb(235, 241, 34);
  background: linear-gradient(
    0deg,
    rgba(235, 241, 34, 1) 0%,
    rgba(255, 174, 0, 1) 100%
  ) !important;
}

.navbar-brand {
  font-family: "Fredoka", sans-serif;
}

.nav-link {
  font-size: 0.9365rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  letter-spacing: 1px;
  font-family: "Comfortaa", cursive;
}

footer a {
  text-decoration: none !important;
  color: inherit;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}

.end {
  color: #fff !important;
  background-color: #000 !important;
}

footer {
  padding-bottom: 0px !important;
}

.email-btn,
.upload-btn {
    background-color: #e5345b !important;
    color: #fff !important;
    border-color: #e5345b !important;
}

/*Main*/

.padding {
  padding: 3rem !important;
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: linear-gradient(to right,#f29263, #e5345b );
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.pet-img {
  border-radius: 50%;
  background-image: url("../Resources/images/empty_profile.webp");
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  transition: all 0.5s ease;
  margin-left: 60px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.temp1 {
    margin-left: 100px;
    margin-top: 20px;
}
