<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" href="../Resources/logos/dog_emoji.png" type="image/x-icon">
    <%- include("partials/imports") %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous" />

        <style>
            .card {
                background-color: rgb(238, 238, 238);
                width: 40%;
            }

            body {
                background-color: #149279;
                /* background: rgb(52,200,229); */
                /* background: linear-gradient(306deg, rgba(52,200,229,1) 0%, rgba(52,135,229,1) 100%); */
            }
        </style>

</head>

<body>

    <%- include("partials/successFlash")  %> 
    <%- include("partials/failFlash")  %>

    <div class="card mb-3 ms-auto me-auto mt-5 p-4 shadow-lg">
        <div class="card-body">
            <h1 class="card-title text-center"> Pet Sanctum </h1>
            <p class="card-text">
            <p class="text-center fst-italic">Verify Yourself and Change Password</p>

            <form action="/verify" method="post">
                <div class="form-floating mb-3">
                    <input type="text" name="username" id="username" class="form-control" placeholder="username">
                    <label for="username">Enter registered username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="email" id="email" class="form-control" placeholder="email">
                    <label for="email">Enter registered email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" name="phone" id="phone" class="form-control" placeholder="phone" maxlength="10"
                        minlength="10">
                    <label for="phone">Enter registered phone no</label>
                </div>

                <div class="input-group md-5">
                   
                    <div class="form-floating flex-grow-1">
                        <input name="password" type="password" class="input form-control" id="password" placeholder="Enter New Password" required="true" aria-label="password" aria-describedby="basic-addon1" minlength="9"  />
                        
                        <label for="password" class="mb-1">New Password</label>
                    </div>
                    <span class="input-group-text" id="basic-addon1">

                        <div class="input-group-append">
                          <span class="input-group-text" onclick="password_show_hide();">
                            <i class="fas fa-eye" id="show_eye"></i>
                            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                          </span>
                        </div>

                    </span>

                </div>

                <input type="submit" value="Verify & Change" class="btn btn-success mt-3">
            </form>

            </p>

        </div>
    </div>


    <script>
        function password_show_hide() {
            let x = document.getElementById("password");
            let show_eye = document.getElementById("show_eye");
            let hide_eye = document.getElementById("hide_eye");
            hide_eye.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_eye.style.display = "none";
                hide_eye.style.display = "block";
            } else {
                x.type = "password";
                show_eye.style.display = "block";
                hide_eye.style.display = "none";
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>

</html>